$colors: (
    plain-white: #ffffff,
    light-grey: #959eac,
    medium-grey: #7c8798,
    dark-blue: #252d37,
    very-dark-blue: #121417,
    accent-orange: #fb7413,
    seethrough-white: #ffffff11
    );

    @function color($color-name) {
        @return map-get($colors, $color-name)
    }

    $desktop: 800px; // desktop view not really needed but will leave this in anyway

    @mixin desktop {
        @media (min-width: #{$desktop}) {
            @content;
        }
    }

    html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        background-color: color(very-dark-blue);
        color: color(plain-white);
        font-family: 'Overpass', sans-serif;
    }

    #rating-card {
        background-color: color(dark-blue);
        border-radius: 16px;
        padding: 20px;
        max-width: 350px;
    }

    .star-container {
        background-color: color(seethrough-white);
        display: flex;
        width: fit-content;
        padding: 10px;
        border-radius: 24px;
    }

    .intro-text, .thank-you-text {
        color: color(light-grey);
        font-size: 15px;
        line-height: 22px;
    }

    .rating-container {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        input {
            display: none;

            &:hover+label {
                background-color: color(light-grey);
                color: color(plain-white);
                cursor: pointer;
            }
            
            &:checked+label {
                background-color: color(accent-orange);
                color: color(plain-white);
            }
        }

        label {
            background-color: color(seethrough-white);
            color: color(light-grey);
            border: none;
            font-family: 'Overpass', sans-serif;
            font-weight: 700;
            padding: 10px 15px;
            border-radius: 30px;
        }
    }

    #submit-btn {
        background-color: color(accent-orange);
        text-transform: uppercase;
        color: color(plain-white);
        font-family: 'Overpass', sans-serif;
        border: none;
        border-radius: 20px;
        width: 100%;
        padding: 12px 0 10px 0;
        letter-spacing: 2px;

        &:hover {
            background-color: color(plain-white);
            color: color(accent-orange);
            cursor: pointer;
        }
    }

    #thank-you-card {
        background-color: color(dark-blue);
        border-radius: 16px;
        padding: 30px 20px;
        text-align: center;
        max-width: 350px;
        display: none;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    #rating-selection {
        background-color: color(seethrough-white);
        color: color(accent-orange);
        display: inline-block;
        padding: 10px 16px 8px 16px;
        border-radius: 20px;
        margin-bottom: 0;
    }